In [15]:
%matplotlib inline

In [16]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [17]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [18]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [19]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("../World_Weather_Analysis/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Yellowknife,CA,2021-09-23 05:15:06,62.4560,-114.3525,46.92,100,90,6.91
1,1,Georgetown,MY,2021-09-23 05:15:34,5.4112,100.3354,89.55,55,20,8.05
2,2,Atuona,PF,2021-09-23 05:15:35,-9.8000,-139.0333,77.59,81,14,19.13
3,3,Ribeira Grande,PT,2021-09-23 05:15:35,38.5167,-28.7000,70.79,72,13,10.02
4,4,Sao Filipe,CV,2021-09-23 05:15:36,14.8961,-24.4956,78.53,78,37,8.99

In [20]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [21]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [37]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [42]:
# Heatmap of cloudiness.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [45]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Georgetown,MY,2021-09-23 05:15:34,5.4112,100.3354,89.55,55,20,8.05
2,2,Atuona,PF,2021-09-23 05:15:35,-9.8000,-139.0333,77.59,81,14,19.13
4,4,Sao Filipe,CV,2021-09-23 05:15:36,14.8961,-24.4956,78.53,78,37,8.99
9,9,Aksu,CN,2021-09-23 05:15:38,41.1231,80.2644,76.77,22,10,9.75
11,11,Kapaa,US,2021-09-23 05:15:39,22.0752,-159.3190,80.58,72,40,3.00
12,12,Vieux-Habitants,GP,2021-09-23 05:15:40,16.0589,-61.7659,76.57,78,14,7.56
14,14,Taoudenni,ML,2021-09-23 05:15:40,22.6783,-3.9836,89.42,11,34,6.78
15,15,Mount Isa,AU,2021-09-23 05:15:41,-20.7333,139.5000,82.17,9,0,11.50
17,17,Hilo,US,2021-09-23 05:12:34,19.7297,-155.0900,78.28,82,20,3.44
29,29,Hasaki,JP,2021-09-23 05:15:46,35.7333,140.8333,88.20,81,11,7.07

In [46]:
preferred_cities_df.count()

City_ID       175
City          175
Country       175
Date          175
Lat           175
Lng           175
Max Temp      175
Humidity      175
Cloudiness    175
Wind Speed    175
dtype: int64

In [47]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1        Georgetown      MY     89.55   5.4112  100.3354
2            Atuona      PF     77.59  -9.8000 -139.0333
4        Sao Filipe      CV     78.53  14.8961  -24.4956
9              Aksu      CN     76.77  41.1231   80.2644
11            Kapaa      US     80.58  22.0752 -159.3190
12  Vieux-Habitants      GP     76.57  16.0589  -61.7659
14        Taoudenni      ML     89.42  22.6783   -3.9836
15        Mount Isa      AU     82.17 -20.7333  139.5000
17             Hilo      US     78.28  19.7297 -155.0900
29           Hasaki      JP     88.20  35.7333  140.8333

In [48]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [51]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Georgetown,MY,89.55,5.4112,100.3354,Cititel Penang
2,Atuona,PF,77.59,-9.8000,-139.0333,Villa Enata
4,Sao Filipe,CV,78.53,14.8961,-24.4956,Hotel Xaguate
9,Aksu,CN,76.77,41.1231,80.2644,Pudong Holiday Hotel
11,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...
542,Tecolutla,MX,76.32,20.4833,-97.0167,Hotel Plaza Marsol
544,Nokha,IN,83.28,27.6000,73.4167,gu khana
546,Jasrana,IN,86.77,27.2500,78.6833,नगला नेती
548,Cabo San Lucas,MX,85.51,22.8909,-109.9124,Hotel Tesoro Los Cabos
549,Liku,ID,84.76,-0.7275,119.8922,Wahyu

In [54]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [56]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]