## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Ushuaia,AR,2021-10-02 04:18:56,-54.8000,-68.3000,35.26,80,40,9.22,light rain
1,1,Vada,NL,2021-10-02 04:18:56,51.9700,5.6667,57.09,95,75,9.22,mist
2,2,Puerto Ayora,EC,2021-10-02 04:18:57,-0.7393,-90.3518,68.70,93,71,6.89,broken clouds
3,3,Budogoshch,RU,2021-10-02 04:18:58,59.2816,32.4707,38.75,96,58,5.12,broken clouds
4,4,Cape Town,ZA,2021-10-02 04:18:10,-33.9258,18.4232,57.09,86,75,4.61,moderate rain

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Puerto Ayora,EC,2021-10-02 04:18:57,-0.7393,-90.3518,68.70,93,71,6.89,broken clouds
5,5,Jasper,US,2021-10-02 04:18:49,37.2001,-94.3502,71.65,87,75,5.75,broken clouds
6,6,Vaini,TO,2021-10-02 04:15:44,-21.2000,-175.2000,75.36,83,75,12.66,broken clouds
13,13,Richards Bay,ZA,2021-10-02 04:19:01,-28.7830,32.0377,67.82,92,100,4.29,light rain
15,15,Acapulco,MX,2021-10-02 04:12:37,16.8634,-99.8901,79.38,84,87,3.42,overcast clouds
16,16,Mujiayingzi,CN,2021-10-02 04:19:02,42.1167,118.7833,64.54,50,100,13.91,overcast clouds
19,19,Busselton,AU,2021-10-02 04:15:30,-33.6500,115.3333,61.05,64,71,19.39,broken clouds
20,20,Sao Filipe,CV,2021-10-02 04:15:34,14.8961,-24.4956,78.76,78,19,5.41,few clouds
22,22,Ballina,AU,2021-10-02 04:19:04,-28.8667,153.5667,79.79,42,50,9.19,scattered clouds
27,27,Ribeira Grande,PT,2021-10-02 04:09:38,38.5167,-28.7000,71.62,90,31,11.21,scattered clouds

In [8]:
len(preferred_cities_df)

244

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                244
City                   244
Country                243
Date                   244
Lat                    244
Lng                    244
Max Temp               244
Humidity               244
Cloudiness             244
Wind Speed             244
Weather Description    244
dtype: int64

In [10]:
# 4a+. Print the NaN rows.
is_NaN = preferred_cities_df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN= preferred_cities_df[row_has_NaN]

rows_with_NaN

# Note that this city is located in Namibia, and this may signal an error on the part of the 
# data provider.

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
434,434,Rundu,NaN,2021-10-02 04:22:23,-17.9333,19.7667,63.1,23,8,4.05,clear sky

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Puerto Ayora,EC,2021-10-02 04:18:57,-0.7393,-90.3518,68.70,93,71,6.89,broken clouds
5,5,Jasper,US,2021-10-02 04:18:49,37.2001,-94.3502,71.65,87,75,5.75,broken clouds
6,6,Vaini,TO,2021-10-02 04:15:44,-21.2000,-175.2000,75.36,83,75,12.66,broken clouds
13,13,Richards Bay,ZA,2021-10-02 04:19:01,-28.7830,32.0377,67.82,92,100,4.29,light rain
15,15,Acapulco,MX,2021-10-02 04:12:37,16.8634,-99.8901,79.38,84,87,3.42,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
679,679,Camapua,BR,2021-10-02 04:24:28,-19.5314,-54.0439,75.70,70,19,1.99,few clouds
680,680,Lincoln,US,2021-10-02 04:24:28,40.8000,-96.6670,66.27,85,90,1.01,overcast clouds
681,681,Curup,ID,2021-10-02 04:24:29,-3.4667,102.5333,79.74,72,100,2.06,overcast clouds
684,684,Mumford,GH,2021-10-02 04:24:30,5.2618,-0.7590,76.64,87,100,5.39,light rain
687,687,Sungairaya,ID,2021-10-02 04:24:32,0.7000,108.9000,77.67,75,100,7.52,light rain

In [48]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = "NaN"
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,68.70,broken clouds,-0.7393,-90.3518,NaN
5,Jasper,US,71.65,broken clouds,37.2001,-94.3502,NaN
6,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,NaN
13,Richards Bay,ZA,67.82,light rain,-28.7830,32.0377,NaN
15,Acapulco,MX,79.38,overcast clouds,16.8634,-99.8901,NaN
16,Mujiayingzi,CN,64.54,overcast clouds,42.1167,118.7833,NaN
19,Busselton,AU,61.05,broken clouds,-33.6500,115.3333,NaN
20,Sao Filipe,CV,78.76,few clouds,14.8961,-24.4956,NaN
22,Ballina,AU,79.79,scattered clouds,-28.8667,153.5667,NaN
27,Ribeira Grande,PT,71.62,scattered clouds,38.5167,-28.7000,NaN

In [49]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"] 
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,68.70,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Jasper,US,71.65,broken clouds,37.2001,-94.3502,Guest House Motel
6,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
13,Richards Bay,ZA,67.82,light rain,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
15,Acapulco,MX,79.38,overcast clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
...,...,...,...,...,...,...,...
679,Camapua,BR,75.70,few clouds,-19.5314,-54.0439,Comercial Estrela
680,Lincoln,US,66.27,overcast clouds,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket
681,Curup,ID,79.74,overcast clouds,-3.4667,102.5333,Ayi The Costel
684,Mumford,GH,76.64,light rain,5.2618,-0.7590,Spanish Villa
687,Sungairaya,ID,77.67,light rain,0.7000,108.9000,Mess P.Milu

In [70]:
# 8a. Create the output File (CSV)
hotel_df.to_csv("../Vacation_Search/hotels.csv")
# 8b. Export the City_Data into a csv
preferred_cities_df.to_csv("cities.csv", index_label="City_ID")

In [71]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<d1>
<dt>Hotel Name>/dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</d1>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))